<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bunifu.UI.WinForms" version="2.2.8" targetFramework="net451" />
  <package id="Telerik.Windows.Documents.Core.Trial" version="2020.2.615" targetFramework="net451" />
  <package id="Telerik.Windows.Documents.Fixed.Trial" version="2020.2.615" targetFramework="net451" />
  <package id="Telerik.Windows.Documents.Flow.FormatProviders.Pdf.Trial" version="2020.2.615" targetFramework="net451" />
  <package id="Telerik.Windows.Documents.Flow.Trial" version="2020.2.615" targetFramework="net451" />
  <package id="Telerik.Windows.Zip.Extensions.Trial" version="2020.2.615" targetFramework="net451" />
  <package id="Telerik.Windows.Zip.Trial" version="2020.2.615" targetFramework="net451" />
</packages>