<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bunifu.UI.WinForms" version="2.2.8" targetFramework="net451" />
  <package id="CsvHelper" version="15.0.5" targetFramework="net451" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net451" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net451" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net451" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net451" />
  <package id="Telerik.Windows.Documents.Core.Trial" version="2020.2.615" targetFramework="net451" />
  <package id="Telerik.Windows.Documents.Fixed.Trial" version="2020.2.615" targetFramework="net451" />
  <package id="Telerik.Windows.Documents.Flow.FormatProviders.Pdf.Trial" version="2020.2.615" targetFramework="net451" />
  <package id="Telerik.Windows.Documents.Flow.Trial" version="2020.2.615" targetFramework="net451" />
  <package id="Telerik.Windows.Zip.Extensions.Trial" version="2020.2.615" targetFramework="net451" />
  <package id="Telerik.Windows.Zip.Trial" version="2020.2.615" targetFramework="net451" />
</packages>